body{
  margin: 0;
  padding: 0;
  text-align: center;

  background: black;

  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.error{
  background-image: url("/static/img/Flag_of_Åland.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* admin.eta + manage.eta */
body.admin{
  background: hsl(60, 20%, 60%);
}

body.admin input[type="text"]{
  border-color: black;
  margin: 0.5em;
  padding: 1.5em;
  width: calc(100% - 1em); /* add space , but not riase scrolls */
  box-sizing: border-box; /* include padding and border in width calculation */
  overflow: hidden; /* prevent horizontal scrollbar */
  text-align: center;
}


body.admin hr{
  border-color: black !important;
}

/* edit.eta */
body.edit{
  background-image: url("/static/img/edit-back.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* data.eta */
body.data{
  background-image: url("/static/img/data-back.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* item for data.eta and edit.eta */
body.data div, body.edit div{
  background: hsla(40, 20%, 80%, 1);
  padding: 1em;
  margin: 1em auto;
  border-radius: 2em;
  width:fit-content;
  box-shadow: -20px 0 20px hsla(40, 100%, 50%, 0.2), 20px 0 20px hsla(40, 100%, 50%, 0.2);
  word-break: break-all;
}

body.edit input[type="text"]{
  margin: 0.5em;
  padding: 0.5em;
  padding-top: 1.5em;
  width: calc(100% - 1em); /* add space , but not riase scrolls */
  box-sizing: border-box; /* include padding and border in width calculation */
  overflow: hidden; /* prevent horizontal scrollbar */
  text-align: center;

  border-color: black;
  border-width: 0 0 1px 0; /* top, right, bottom, left */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: hsla(0, 0%, 0%, 0);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

body.edit input[type="text"]:focus {
  outline-color: hsla(40, 20%, 80%, 1);
}

footer{
  margin: 0 auto;
  font-size: 0.5em;
}

footer a{
  color: initial;
  background: initial;
  margin: initial;
  padding: initial;
}

/* global */

h1{
  white-space: nowrap;
  display: flex;
  justify-content: center; /* center horizontally */
  overflow-x: none; /* destroy horizontal scrollbar */
  margin: 0;
  background: hsla(40, 100%, 20%, 0.6);
  
  text-shadow:
   -2px -2px 0 hsla(40, 100%, 30%, 0.2),
   2px -2px 0 hsla(40, 100%, 30%, 0.2),
   -2px 2px 0 hsla(40, 100%, 30%, 0.2),
   2px 2px 0 hsla(40, 100%, 30%, 0.2);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button, a{
  font-size: 1em;
  display: inline-block; /* to prevent ignoring margin for <a> */
  color:hsl(40, 20%, 80%);
  background: hsla(0, 0%, 0%, 0.8);
  margin: 0.5em;
  padding: 1.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

input[type="date"]{
  font-size: 1em;
  display: inline-block; /* to prevent ignoring margin for <a> */
  margin: 0.5em;
  padding: 1.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* size patch for valid until reset button on admin panel */
input[type="button"]{
  font-size: initial; 
}

a{
  margin: 0.5em;
  text-decoration: none;
}

@media (orientation: portrait) and (max-aspect-ratio: 4/3) and (max-width: 720px) {
  h1 {
    font-size: 120%;
  }
}